/* Színmeghatározások */
:root {
    --basefont: #000000;
    --contentbg: #ededed;
    --tsoro: #e0e0e0;
    --tsore: #bbbbbb;
    --shadow: #25252646;
    --inpborder: #35454d;
    --talalat: #018216;
    --hianyzik: #990000;
    --rosszhely: #e1bc00;
    --barcolor: #4CAF50;
}
/* ------------------------------- Alap stílusok ------------------------------- */

h3 {
    margin: 1em 0 0.5em 0;
}
.jatek {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jatek button {
    max-width: max-content;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    transition: 0.3s;
    padding: 0.5em 1em;
    box-shadow: 
    -2px -2px 5px var(--shadow),     /* sötét árnyék fent-balra */
    2px 2px 5px var(--shadow);  /* világos fény lent-jobbra */
}

.jatek button:disabled, .jatek button:disabled:hover {
    background-color: var(--contentbg);
    padding: 0.4em 0.75em;
    font-weight: bold;
    cursor: default;
}

.jatek button:focus {
    outline: none;
    border: none;
}

#eredmeny {
    display: flex;
    width: 100%;
    justify-content: center;
}

#jatektabla, #masolat {
    width: unset;
    border-spacing: 0.3em;
    display: table;
    table-layout: fixed;
}

#jatektabla tr:nth-child(even) {
    background-color: var(--tsore);
}

#jatektabla tr:nth-child(odd) {
    background-color: var(--tsoro);
}

#jatektabla td, #masolat td {
    border-radius: 0.2em;
    padding: 0;
    text-align: center;
}

#masolat td {
    content: "";
    width: 2em;
    height: 2em;
    border: var(--shadow) solid 2px;
    border-radius: 25%;
    background-color: var(--tsoro);
}

#jatektabla input {
    width: 3ch;
    color: var(--basefont);
    cursor: auto;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    border: var(--shadow) solid 2px;
    border-radius: 0.2em;
    padding: 0.3em 0.05em;
    line-height: 1.1;
}

#jatektabla input:focus {
    border: var(--inpborder) solid 2px;
    outline: 1px solid var(--inpborder);
}

.bar-row {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    gap: 0.7em;
}

.bar-row span {
    margin: 0.4em 0;
    width: 15ch;
}

.bar-container {
    width: 100%;
    background-color: var(--tsoro);
    margin: 0.4em 0;
    border-radius: 0.4em;
    overflow: hidden;
}

.bar {
    height: 1.5em;
    text-align: right;
    padding-right: 0.6em;
    line-height: 1.5em;
    color: var(--contentbg);
    background-color: var(--barcolor);
    border-radius: 0.4em;
}

/* ------------------------------- Billentyűzet ------------------------------- */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 680px;
    margin: 20px auto;
    font-family: sans-serif;
  }

  .row {
    display: flex;
    gap: 6px;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-shrink: 0;
  }

  .key {
    padding: 0.8em;
    font-size: 0.9em;
    cursor: pointer;
    border: 1px solid var(--tsore);
    border-radius: 0.2em;
    background-color: var(--contentbg);
    user-select: none;
    min-width: 2em;
    text-align: center;
  }

  .key:hover {
    background-color: var(--tsoro);
  }

  .key.wide {
    min-width: 4em;
  }

@media (max-width: 600px) {
    .key {
        padding: 0.8em;
        font-size: 0.9em;
    }

    #jatektabla input {
        font-size: 1.5em;
    }
}

@media (min-width: 600px) {
    .key {
        padding: 0.6em;
        font-size: 0.7em;
    }

    #jatektabla input {
        font-size: 1.2em;
    }
}